WhatsApp.exe
WhatsAppDesk.exe
WhatsAppDesktopLight.exe
WhatsApp.exe~
WhatsApp_*
icon_1024.png
*.app
*.icns
*.dmg
*.zip
*.tmp
*.log
.github/
config_private.go
build_mac.sh
dmg_background.png
whatsapp-desktop
